In [1]:
import json
import numpy as np
import pandas as pd
import plotly.express as px

In [2]:
import plotly.io as pio
pio.renderers.default = 'browser'

In [3]:
bp_ker = json.load(open("mergedmap.geojson", 'r'))

In [4]:
ker_id = {}
for feature in bp_ker['features']:
    feature['id'] = feature['properties']['ksh']
    feature['id'] = pd.to_numeric(feature['id'], errors='ignore')
    ker_id[feature['properties']['name']] = feature['id']

In [5]:
df = pd.read_csv('cln3.csv', sep=';')

In [6]:
df.drop('Unnamed: 0', inplace=True, axis=1)
df.head()

,district,size (m²),price (M in HUF),balcony (m²),address,room(s),half_room(s)
0,13,48,59.0,NaN,Kassák Lajos utca,2,NaN
1,13,46,54.9,12.0,Csata utca,2,NaN
2,7,63,39.9,NaN,Rottenbiller utca,2,NaN
3,7,50,39.9,NaN,Almássy tér,2,NaN
4,7,50,39.9,NaN,Almássy tér,2,NaN

In [7]:
bp_ker['features'][1].keys()

dict_keys(['type', 'properties', 'geometry', 'id'])

In [8]:
bp_ker['features'][0]['properties']

{'name': 'Budapest I. kerület',
 'type': 'district',
 'type:hu': 'járás',
 'ksh': '001',
 'osm_id': '221984',
 'parent': {'name': 'Budapest',
  'type': 'county',
  'type:hu': 'megye',
  'ksh': '01',
  'osm_id': '1244004'}}

In [9]:
df.dtypes

district              int64
size (m²)             int64
price (M in HUF)    float64
balcony (m²)         object
address              object
room(s)               int64
half_room(s)        float64
dtype: object

In [10]:
ker_id

{'Budapest I. kerület': 1,
 'Budapest II. kerület': 2,
 'Budapest III. kerület': 3,
 'Budapest IV. kerület': 4,
 'Budapest V. kerület': 5,
 'Budapest VI. kerület': 6,
 'Budapest VII. kerület': 7,
 'Budapest VIII. kerület': 8,
 'Budapest IX. kerület': 9,
 'Budapest X. kerület': 10,
 'Budapest XI. kerület': 11,
 'Budapest XII. kerület': 12,
 'Budapest XIII. kerület': 13,
 'Budapest XIV. kerület': 14,
 'Budapest XV. kerület': 15,
 'Budapest XVI. kerület': 16,
 'Budapest XVII. kerület': 17,
 'Budapest XVIII. kerület': 18,
 'Budapest XIX. kerület': 19,
 'Budapest XX. kerület': 20,
 'Budapest XXI. kerület': 21,
 'Budapest XXII. kerület': 22,
 'Budapest XXIII. kerület': 23}

In [12]:
df['ps'] = np.log10(df['price (M in HUF)'])

In [14]:
fig = px.choropleth(df, locations='district',
                    geojson=bp_ker,
                    color='ps',
                    scope='europe',
                    hover_name = 'district',
                    hover_data=['price (M in HUF)'])
fig.update_geos(fitbounds='locations', visible=False)
fig.show()